<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emt.qf.dao.mapper.mp2.DataToMapper">

    <!--删除付款数据-->
    <delete id="delZFData" >
        DELETE  FROM v_pos_zfdd_2 WHERE fkrq BETWEEN #{beginDate} AND #{endDate}
    </delete>
    <!--插入付款数据-->
    <insert id="insertZFData">
        INSERT INTO v_pos_zfdd_2 (yxwdbh, orderid, fkfs, bank, fkqk, ContractAmt, fkfsmc, bankname, fkrq)
        VALUES
        <foreach collection="lst" item="item" index="index"  separator=",">
            (#{item.yxwdbh}, #{item.orderid}, #{item.fkfs}, #{item.bank}, #{item.fkqk}, #{item.ContractAmt}, #{item.fkfsmc}, #{item.bankname}, #{item.fkrq})
        </foreach>
    </insert>

    <!--删除退款数据-->
    <delete id="delTKData" >
        DELETE  FROM v_pos_tkdd_2 WHERE jzrq BETWEEN #{beginDate} AND #{endDate}
    </delete>
    <!--插入退款数据-->
    <insert id="insertTKData">
        INSERT INTO v_pos_tkdd_2 (yxwdbh, order_link, dfje, jzr, jzrq)
        VALUES
        <foreach collection="lst" item="item" index="index"  separator=",">
            (#{item.yxwdbh}, #{item.order_link}, #{item.dfje}, #{item.jzr}, #{item.jzrq})
        </foreach>
    </insert>

    <select id="getData" resultType="map" useCache="true" >
        SELECT * FROM v_pos_zfdd_2 WHERE fkrq BETWEEN  #{beginDate} AND #{endDate}
    </select>
</mapper>
